.container{


}
.homecontainer{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(PSX_20181212_165706.jpg);

}
.menu{
  position: relative;
}
.menu ul{
  text-align: center;

}

.menu ul li{
  list-style: none;
  display: inline-block;

}

.menu ul li a{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-weight: 600px;
  padding: 25px;

}

.menu ul li a:hover{
  background-color: #A9A9A9;
  width:auto;
}


.portfolio{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: black;
}

.welcome {
  grid-gap:3px;
  display: grid;
  grid-template-columns: 1fr;


}

.name {
  font-size: 30px;
  font-family: 'Monospace', sans-serif;
  text-align: center;
  color: white;

}

.title{
  font-size: 60px;
  font-family: 'Monospace', sans-serif;
  text-align: center;
    color: white;

}
.links{
  text-align: left;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;

}

.links ul li{
  list-style: none;
}
.links ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 30px;
  font-family: 'Monospace', sans-serif;

}

.links ul li a:hover{
  background-color: grey;
  width:auto;
}
.portfolio .slide{
  width: 100%;
  height: 50vh;
  background-image: url(effigy.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;



}
.about{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.about .about1{
  width: 100%;
  height: 60vh;

}
.h2{
  color: black;
  font-size:30px;
  font-family: 'Monospace', sans-serif;
  text-align: inherit;
  padding-left: 20px;
}
